#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config ARDUINO_TMC
	tristate "Arduino TMC Driver Implementation"
	default n
	---help---
		Enable the Arduino TMC Driver Implementation

if ARDUINO_TMC

endif
