#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config GPIO_BITBANG
	tristate "GPIO_BITBANG example"
	default n
	---help---
		Enable the GPIO_BITBANG example

if GPIO_BITBANG

endif
